# -------------------------
# Dependencies
# -------------------------
node_modules/
*.tgz
.yarn-cache/     # Yarn cache
.pnpm-store/     # pnpm cache
# -------------------------
# Build / Output
# -------------------------
dist/
build/
out/
es/
lib/
public/build/
.next/           # Next.js
.nuxt/           # Nuxt.js
.angular/        # Angular
storybook-static/

# -------------------------
# Coverage / Reports / Logs
# -------------------------
coverage/
*.lcov
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# Environment Files
# -------------------------
.env.local
.env.*.local

# -------------------------
# Caches / Temp
# -------------------------
.cache/
.eslintcache
.stylelintcache
*.tsbuildinfo
.tmp/

# -------------------------
# IDE / OS Files
# -------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

# -------------------------
# Prisma
# -------------------------
prisma/dev.db
prisma/*.db-journal
/generated/prisma
# DO NOT ignore prisma/migrations/ → keep migrations in version control

# -------------------------
# Docker
# -------------------------
docker-compose.override.yml
.dockerignore
CLAUDE.md
.claude
design
instructions
sample code
postman-collection.json


